extends ../site/layout 
block variables
  - title = "Employees" 
block body
  div#content !{markup}
block append scripts
  script#initial-state(type="application/json").
    !{employees}
  script.
    require('/app/browser/employeeApp.jsx')
