- var title, angular, pageTitle;
block variables
- pageTitle = title;
- if (title && title.indexOf(titleSuffix) < 0 && title.indexOf("expressStructure") !== 0) { pageTitle = title }
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title=pageTitle
    link(rel="stylesheet", href="/screen.css")
    meta(name="description" content=title)
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    //-.adaptive
    button.navMenuButton &equiv;
    include blocks/navigation
    .content
      include blocks/header
      block body
      footer.navigationHorizontal
        include blocks/navigation
      footer.license
      block scripts
        script(src="/bundle.js")
